:root{
    --green:#1DB954;
    --black:#191414;
    --sucess:#2EB67D;
    --fail:#E01E5A;
    --warning:#ECB22E;
    --white:#F5F8FA;
}

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    color: var(--white);
    
    
}

body{
    background-color: #191414;
}

#main-container{
    visibility: hidden;
}

#play{
    visibility: visible;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    margin-top: 3rem;
}
.player-username, .enemy-username {
    
    padding: 1%;
    width: 400px;
    height: 100px;
    font-size: 38px;
    background-color: var(--white);
    color: var(--green);
}

#play>.play-btn{
    cursor: pointer;
    width: 400px;
    height: 100px;
    font-size: 38px;
    background-color: var(--green);
    color: var(--white);
}

h1{
    text-align: center;
    margin-block: 2rem;
}

#main-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
}
#top-area{
    display: grid;
    flex-grow: 3;
    /* background-color: tomato; */
    grid-template-columns: 15% 70% 15%;
}

.p1-score, .p2-score, .action-area{
    text-align: center;
}
.p1-score, .p2-score{
    align-self: center;
}
.p1-score-box, .p2-score-box{
    border: 5px outset var(--green);
    padding: 1.5rem;
}
.score-text{
    margin: 2em;
}

.action-area{
    border: 5px outset var(--white);
    margin: 0em 3em;
}

.action-cards{
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    align-content:space-around ;
}

#down-area{
    flex-grow: 2;
    display: flex;
}

.p1-dashboard, .p2-dashboard{
    flex-grow: 1;
    text-align: center;
    margin-top: 3rem;
}
.p1-dashboard{
    border-right: 5px outset var(--white);
}

.p1-cards, .p2-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3rem;
}

.card{
    justify-self: center;
    background-color: var(--green);
    border: 2px 10px solid var(--green);
    width: 100px;
    height: 150px;
    display: grid;
}

.card:hover{
    transform: translateY(-2rem);
    cursor: pointer;
}

.card>p{
    color:var(--white);
    font-size: 3rem;
    align-self: center;
}
